:root {
    --main-color: #f1c40f;
}

.face {
    width: 200px;
    height: 200px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    animation: bounce 1s infinite alternate;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.face img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    color: var(--main-color);
    margin-top: 50px;
}