body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #3498db;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-gap: 10px;
}

.card {
    width: 120px;
    height: 160px; /* Adjusted card height for a more rectangular shape */
    perspective: 1000px;
    border-radius: 10px; /* Added border-radius for rounded corners */
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    border-radius: 10px; /* Match the border-radius with the outer card */
}

.card:hover .card-inner,
.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card .face,
.card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.card .face {
    background-color: #ffffff;
    color: #333;
}

.card .back {
    transform: rotateY(0deg);
    background-color: #f50c0c;
    color: #fff;
}
