@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --pixel-size: 2px;
    --grid-cell: calc( var(--pixel-size) * 16);
    --bg: #9fa7e4;
 }
 @media( min-width: 700px ) {
    :root {
       --pixel-size: 3px;
    }
 }
 @media( min-width: 1000px ) {
    :root {
       --pixel-size: 4px;
    }
 }
@media( min-width: 1000px ) {
    :root {
       --pixel-size: 5px;
    }
 }
 
 html, body {
    height: 100%;
 }
 
 body {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .pixel-art {
    image-rendering: pixelated;
 }
 
 .frame {
    /* This is just for Pen decoration */
    width: calc(var(--pixel-size) * 160);
    height: calc(var(--pixel-size) * 144);
    outline: var(--pixel-size) solid #fff;
    z-index:1; 
    position:relative;
 }
 
 .camera {
    width: calc(var(--pixel-size) * 160);
    height: calc(var(--pixel-size) * 144);
    overflow: hidden;
    background: #61ddf7;
    position:relative;
 }
 
 .map {
    image-rendering: pixelated;
    background-image: url("testmap.png");
    background-size: 100%;
    width: calc(13 * var(--grid-cell));
    height: calc(10 * var(--grid-cell));
    position: relative;
 }
 
 .character {
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
    position: absolute;
    overflow:hidden;
 }
 
 .shadow {
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
    position: absolute;
    left:0;
    top:0;
    background: url("https://assets.codepen.io/21542/DemoRpgCharacterShadow.png") no-repeat no-repeat;
    background-size: 100%;
 }
 
 .character_spritesheet {
    position: absolute;
    background: url("yul1.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc( var(--grid-cell)* 8 );
    height: calc( var(--grid-cell)* 8 );
}
 .character[facing="right"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -32 );
 }
 .character[facing="up"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -64 );
 }
 .character[facing="left"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -96 );
 }
 .character[walking="true"] .character_spritesheet {
    animation: walkAnimation 0.6s steps(4) infinite; 
 }
 
 @keyframes walkAnimation {
   from {
     transform: translate3d(0%,0%,0);
   }
   to {
     transform: translate3d(-100%,0%,0);
   }
 }
 
 #changeBackground {
    display: block;
    position: absolute;
    height: auto; 
    width: auto;
    border-color: lightgrey;
    font-family: 'Press Start 2P', sans-serif;
    font-size: .08em; 
    z-index: 999;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAVFJREFUSEvt1D0oRWEcx/HP3WRTFqNFSYwGg0wmUgbJpMhoMchLXsrbZlPKYrBJFgaLwcBiExMmg2K2EOfUuTr3Om/3lu2e5emc83t+3+f5Pf//U/LPT+mf/TUAuQkXiagNU+hDb+R4g2vs4y2LkgeYwS6aU0zeMY3TNEgWYAJH0cQHDOMxeu/ECsaxiO1aAWEsT2jCHmbxlWAyGER3UU9EO5jHGYZyT5K1SFMef6ekRXSPMIZ+XOUAQtPVSLMejBWQOCAurPb8MzG24rJ5eU6FtnoHSZBazP9AkiLK3HJCXCNRmd6hu/p/2hmkHloC4BID2MRyUUBcl1WKW1gIKu4D7XitFbCEDRwgNHuODDowh7DTvzGG46Rqy7sqRiPzloxSnQxWf1hrJ8f1rQgrqQddQc6fwbVxG1x858G3E7zU08kFmreYJC+iYi4ZqgYgN8IfeHU3GfDcU2wAAAAASUVORK5CYII=');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px;
    border-radius: 50%;
}



.controls {
   user-select:none;
   position:absolute;
   left: calc(var(--pixel-size) * 2);
   top: calc(var(--pixel-size) * 125);
   width: calc(var(--pixel-size) * 37);
   height: calc(var(--pixel-size) * 38);
}


.jumpbutton {
   appearance:none;
   outline:0;
   border:0;
   background:transparent;
   padding:0;
   cursor:pointer;
}
.actbutton {
   appearance:none;
   outline:0;
   border:0;
   background:transparent;
   padding:0;
   cursor:pointer;
}

.jumpbutton svg {
   display:block;
   height: calc(var(--pixel-size) * 13);
}

.actbutton svg {
   display:block;
   height: calc(var(--pixel-size) * 13);
}

jumpbutton.pressed .Arrow_outline-bottom { stroke:#07c2cc; }
jumpbutton.pressed .Arrow_outline-bottom { stroke:#17dfea; }

actbutton.pressed .Arrow_outline-bottom { stroke:#07c2cc; }
actbutton.pressed .Arrow_outline-bottom { stroke:#17dfea; }


 .dpad {
    position:absolute;
    right: calc(var(--pixel-size) * 2);
    bottom: calc(var(--pixel-size) * 2);
    width: calc(var(--pixel-size) * 37);
    height: calc(var(--pixel-size) * 38);
 }
 .dpad-button {
    appearance:none;
    outline:0;
    border:0;
    background:transparent;
    padding:0;
    cursor:pointer;
 }
 .dpad-button svg {
    display:block;
    height: calc(var(--pixel-size) * 13);
 }
 
 .dpad-button.pressed .Arrow_arrow-inset { stroke:#07c2cc; }
 .dpad-button.pressed .Arrow_arrow-body { stroke:#17dfea; }
 
 .dpad-up {
    position: absolute;
    left: calc(var(--pixel-size) * 12);
    top:0;
 }
 .dpad-down {
    position: absolute;
    bottom:var(--pixel-size);
    left: calc(var(--pixel-size) * 12);
 }
 .dpad-left {
    position: absolute;
    top: calc(var(--pixel-size) * 12);
    left:0;
 }
 .dpad-right {
    position: absolute;
    top: calc(var(--pixel-size) * 12);
    right:0;
 }
 
 .dpad {
    user-select:none;
 }
 
 
 .corner_topleft,
 .corner_topright,
 .corner_bottomleft,
 .corner_bottomright {
    position: absolute;
    width: var(--pixel-size);
    height: var(--pixel-size);
    background: var(--bg);
    z-index:2;
 }
 
 .corner_topleft {
    top: calc(var(--pixel-size) * -1);
    left: calc(var(--pixel-size) * -1);
 }
 .corner_topright {
    top: calc(var(--pixel-size) * -1);
    right: calc(var(--pixel-size) * -1);
 }
 .corner_bottomleft {
    bottom: calc(var(--pixel-size) * -1);
    left: calc(var(--pixel-size) * -1);
 }
 .corner_bottomright {
    bottom: calc(var(--pixel-size) * -1);
    right: calc(var(--pixel-size) * -1);
 }
 
 .headline {
    position:absolute;
    top:calc(var(--pixel-size) * 2);
    right:calc(var(--pixel-size) * 2);
    width: calc(var(--pixel-size) * 75)
 }  



