:root {
    --pixel-size: 6;
 }
 
 body {
    background: #96ffc1;
 }

 .Card {
    width: calc(32px * var(--pixel-size));
    height: calc(43px * var(--pixel-size));
    overflow: hidden;
    position: relative;
    margin: 4em auto;
    border-radius: 17px;
 }
 
 .Card_spritesheet {
    animation: moveSpritesheet 2s steps(5) infinite;
    width: calc(410px * var(--pixel-size));
    height: calc(214px * var(--pixel-size));
    position: absolute;
    
 }

 .pixelart {
    image-rendering: pixelated;
 }

 @keyframes moveSpritesheet {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, -100%, 0);
    }
}
