:root {
    --pixel-size: 6;
 }
 
 body {
    background: #96ffc1;
    display: flex;
    justify-content: space-around;
 }

 .card-container-player, .card-container-dealer {
    position: relative;
    border-style: dotted;
    width: 250px;
}

.card-container-player p, .card-container-dealer p {
    margin: 15px;
}

 .Card {
    width: calc(31px * var(--pixel-size));
    height: calc(43px * var(--pixel-size));
    overflow: hidden;
    position: relative;
    margin: 4em auto;
    border-radius: 20px;
    border-style: solid;
    border-width: 15px 8px;
    box-shadow: 10px 5px 5px black; 
}

.Card_spritesheet_player {
    cursor: pointer;
    transition: opacity 0.4s ease;
}

.Card_spritesheet_player:hover {
    opacity: 0.8; 
}

.Card_spritesheet_player, .Card_spritesheet_dealer {
    width: calc(410px * var(--pixel-size));
    height: calc(219px * var(--pixel-size));
    position: absolute;    
    transform: translate3d(0, 0%, 0);
 }

.pixelart {
    image-rendering: pixelated;
 }

.deck_options {
    align-content: center;
}

.deck_change_button {
    max-width: 200px;
    max-height: 200px;
    background: transparent;
    border: none;
    transition: opacity 0.4s ease;
}

.deck_change_button:hover {
    opacity: 0.7; 
    cursor: pointer;
}

.deck_change_button img {
    width: 45%;
    height: 45%;
    image-rendering: pixelated;
}

.results {
    text-align: center;
}

.results span{
    font-weight: bolder;
    font-size: larger;
}



@media screen and (max-width: 900px) {
    body {
        flex-direction: column;
        align-items: center; /* Optional: Center the cards when stacked vertically */
    }

    .Card {
        margin: 1em; /* Adjust the margin for stacked cards */
    }
}