body, h1, h3, p, ul, li, code {
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

.details{
    display: flex;
    margin-top: 20px;
}
  
.options {
    text-align: center;
    margin-bottom: 30px;
}
  
h1 {
    font-size: 28px;
    color: #333;  
}
  
h3 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}
  
p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}
  
ul {
    list-style-type: square;
    margin-top: 10px;
    margin-left: 20px;
}
  
li {
    font-size: 20px;
    color: #444;
    margin-top: 5px;
}

.process {
    flex: 3; 
    font-size: 10px;
} 

.process li{
    font-size: 16px;
}
  
.code-container{
    flex: 2;
}

code {
    font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
    font-size: 12px;
    line-height: 1.4;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    white-space: pre-wrap;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px; /* Add spacing between code and process */
  }
