* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#title-screen {
    position: relative;
    top: 0;
    left: 0;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; 
    color: white;
    font-family: 'Press Start 2P';
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, -4px -8px 8px #CE5937;
    color: #082449;
    background: #232323;
    background-image: url('background1.png');;
}

#title-screen h1 {
    font-size: 36px;
}

#title-screen span{
    font-size: 8px;
}

#title-screen p {
    font-size: 18px;
    line-height: 35px;
}

#game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    display:none;
}

#background-img{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: -1;
    opacity: 0.7;
    animation: alternateImagesBackground 500ms infinite;
}

@keyframes alternateImagesBackground {
    0%, 25% {
        background-image: url('background1.png');
    }
    25%, 50% {
        background-image: url('background2.png');
    }
    50%, 75% {
        background-image: url('background3.png');
    }
    75%, 100% {
        background-image: url('background1.png');
    }
}

#background-img.alternating-background {
    background-image: url('background1.png');
  }

#score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: lighter;
    z-index: 1;
    font-family: 'Press Start 2P'
}
  
#character{
    width: 20px;
    height: 50px;
    position: relative;
    top: 145px;
    margin-left: 20px;
}

.animate{
    animation: jump 500ms;
}

#character-img{
    width:20px;
    height:50px;
    animation: alternateImages 150ms infinite;
}

@keyframes alternateImages {
   0%, 100% {
        background-image: url('man1.png');
    }
    50% {
        background-image: url('man2.png');
    }
}

#character-img.alternating-bg {
    background-image: url('man1.png');
  }

@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#ground{
    width: 100px;
    height: 5px;
    background-color: brown;
    position: relative;
    top: 125px;
    margin-left: -40px;
}
#ground-img{
    width:580px;
    height:5px;
    animation: alternateImagesGround 125ms infinite;
}

@keyframes alternateImagesGround {
   0%, 100% {
        background-image: url('ground1.png');
    }
    50% {
        background-image: url('ground2.png');
    }
}

#ground-img.alternating-ground {
    background-image: url('ground1.png');
  }

#block{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 125px;
    left: 480px;
    animation: block 1.9s infinite linear;
}

@keyframes block{
    0%{left:480px;}
    100%{left:-40px;}
}